body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('../images/pinkdust.png');
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  margin-bottom: 25px;
  width: 400px;
}

h1 {
  color: pink;
  margin-bottom: 50px;
}

.guessBox {
  background-color: rgba(255, 255, 255, 0.733);
  padding: 15px;
  text-align: center;
  border: 2px solid greenyellow;
  box-shadow: 10px 10px;
}

.scoreboard {
  background-color: rgba(255, 255, 255, 0.733);
  padding: 15px;
  text-align: center;
  border: 2px solid greenyellow;
  box-shadow: 10px 10px;
}

.counter {
  background-color: rgba(255, 255, 255, 0.733);
  padding: 15px;
  text-align: center;
  border: 2px solid greenyellow;
  box-shadow: 10px 10px;
}

.crystalIcon {
  width: 250px;
  height: 250px;
  margin: 5px;
  background-color: #ffffff;
  box-shadow: 10px 10px;
}

@media (max-width: 700px) {
  .crystalIcon {
    width: 100px;
    height: 100px;
    margin: 2px;
  }
}

@media (min-width: 701px) and (max-width: 1200px) {
  .crystalIcon {
    width: 150px;
    height: 150px;
    margin: 5px;
  }
}
